.cp-header {
  transform: translateY(30px);
}

.cp-title {
  margin-left: -10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}

.cp-content {
  --padding-top: 30px;
  overflow: hidden;
}

.cp-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px;
  margin-top: 60px;
}

.cp-hint {
  color: #666;
  font-size: 13px;
  margin-bottom: 6px;
}

.cp-input {
  --border-radius: 14px;
  --padding-start: 14px;
  border: 1px solid #cfcfcf;
  border-radius: 14px;
  height: 60px;
  font-size: 16px;
}

.cp-input ion-input {
  margin-top: 8px;
  padding: 12px 0;
}

.cp-left-icon {
  font-size: 18px;
  color: #666;
  margin-right: 6px;
}

.password-input {
  position: relative;
}

.password-toggle {
  font-size: 20px;
  color: #666;
  cursor: pointer;
}

.cp-actions {
  margin-top: 28px;
  padding: 0 30px;
}

.cp-cancel {
  --background: #d9d9d9;
  --color: #000;
  border-radius: 15px;
  height: 57px;
  font-size: 16px;
}

.cp-save {
  --background: #1e6fff;
  --color: #ffffff;
  border-radius: 15px;
  height: 57px;
  font-size: 16px;
}
