/* ForgotPasswordPage.css - Password reset specific styles */

/* Reset Password Styles */
.reset-password-btn {
  margin-top: 2rem;
  height: 54px;
  width: 340px;
  max-width: 100%;
  font-weight: 600;
  --border-radius: 15px;
  --background: #008000;
  --background-hover: #036e03;
  box-shadow: none;
  text-transform: uppercase;
}

.reset-password-btn:hover {
  --background: #036e03;
}

.ion-palette-dark .reset-password-btn {
  --color: #ffffff;
  color: #ffffff;
}
