.home-content {
  --background: #ffffff;
  position: relative;
}

.map-wrap {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.leaflet-map {
  width: 100%;
  height: 100vh; 

}

.leaflet-control-container {
  display: none;
}

.top-fab {
  margin-top: 14px;
  margin-right: 14px;
  z-index: 30;
}

.top-fab-btn {
  --background: #003f9e;
  --box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
  width: 48px;
  height: 48px;
}

.nearby-wrap {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: calc(150px + env(safe-area-inset-bottom));
  z-index: 30;
}

.nearby-btn {
  --background: #003f9e;
  --color: #fff;
  --border-radius: 14px;
  height: 52px;
  font-weight: 600;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22);
}
