.forgot-password {
  text-align: right;
  font-size: 0.75rem;
  color: var(--app-primary-color);
  margin-top: -5px;
  cursor: pointer;
  font-family: var(--app-font-family);
}

.signup-text {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 20px;
  color: var(--app-text-medium);
  font-family: var(--app-font-family);
}
