.wallet-header {
  transform: translateY(30px);
}

.wallet-title {
  margin-left: -10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.wallet-content {
  --padding-top: 30px;
  --background: #ffffff;
}

.wallet-shell {
  max-width: 430px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.balance-card {
  margin-top: 25px;
  border-radius: 10px;
  padding: 22px 18px;
  min-height: 120px;
  background: linear-gradient( 135deg, #80AFFF 0%, #FFFFFF 35%, #BDE3F8 55%, #BDE7FF 75%, #0394E6 100%) !important;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 40px;
}

.balance-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 6px;
}

.balance-label {
  font-size: 12px;
  font-weight: 500;
  position: relative;
  top: -2px; 
}

.balance-amount {
  margin-top: 8px;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  top: -6px; 
}

.recharge-btn {
  --background: #FFFFFF;
  --color: #000000;
  --border-radius: 6px;
  height: 34px;
  font-size: 12px;
  font-weight: 500;
  align-self: flex-end; 
  margin-bottom: -5px;   
}

.th-title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.pill-row {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.pill {
  border: none;
  border-radius: 999px;
  padding: 10px 18px;
  font-weight: 400;
  font-size: 14px;
  background: #d9d9d9;
}

.pill.active {
  background: #0b3a8f;
  color: #fff;
}

.tx-list {
  margin-top: 10px;

}

.tx-row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}

.tx-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;   
  font-size: 10px;
  color: #000;

}
.tx-left {
  display: flex;
  flex-direction: column;
}
.tx-date {
  font-size: 12px;
  color: #777;
}

.tx-right {
  text-align: right;
}

.tx-amount {
  font-weight: 200;
  font-size: 18px;
}

.tx-amount.neg {
  color: #ff2b2b;
}

.tx-status {
  font-size: 10px;
  font-weight: 400;
}

.tx-status.ok {
  color: #1aa84b;
}

.tx-status.pending {
  color: #d18b00;
}

.tx-status.failed {
  color: #e53935;
}
