:root {
  --ion-color-primary: #036e03;
  --ion-font-family: "Poppins", sans-serif;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}

body.dark {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
}
