:root {
  --ion-color-primary: #003f9e;
  --ion-font-family: "Poppins", sans-serif;

  /* Light mode defaults */
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}

/* System dark mode (fallback) */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
  }
}

/* Manual dark mode (toggle) */
body.dark {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
}
