:root {
  --ion-color-primary: #003f9e;
  --ion-font-family: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
  }
}
